---
title: Vue Components
description: Vue Components
layout: home.hbt
---

<main class="homepage">
    <section id="flashcard-app" class="container">

        <div class="flashcard-form">
            <label for="front">Front
                <input v-model="newFront" type="text" id="front">
            </label>
            <label for="back">Back
                <input v-on:keypress.enter="addNew" v-model="newBack" type="text" id="back">
            </label>
            <button v-on:click="addNew">Add a New Card</button>
            <span class="error">Oops! Flashcards need a front and a back.</span>
        </div>

        <ul class="flashcard-list">
            <li  v-on:click="toggleCard(card)" v-for="(card, index) in cards">
                <p v-if="!card.flipped" class="card"> {{ card.front }} <span v-on:click="cards.splice(index, 1)" class="delete-card">X</span></p>
                <p v-else class="card"> {{ card.back }} <span v-on:click="cards.splice(index, 1)" class="delete-card">X</span></p>
            </li>
        </ul>
    </section>
</main>